# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Anamika Shreevastava
email: anamika255@gmail.com
description: This is the website of Anamika Shreevastava. NASA Postdoctoral Fellow working at Jet Propulsion Laboratory, CalTech. Anamika studies the impact of extreme heat on urban areas.
 # this means to ignore newlines until "baseurl:"
  # Write an awesome description for your new site here. It will appear in your document head meta (for
  # Google search results) and in your feed.xml site description.
twitter_username: Anamika255
github_username: Anamika255
minimal_mistakes_skin: contrast
search: true

logo: "/assets/images/LOGO-Black.png"
masthead_title: " "


# Build settings
markdown: kramdown
#emote_theme: mmistakes/minimal-mistakes
remote_theme: mmistakes/minimal-mistakes@4.17.2
# Outputting
permalink: /:categories/:title/
paginate: 20 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Anamika Shreevastava"
  avatar : "/assets/images/Photo_github.jpg"
  bio    : "NASA Earth Science Fellow. PhD candidate at Purdue University."
  location: "Pasadena, CA"
  links:

    - label: "Email"
      icon: "far fa-fw fa-paper-plane"
      url: "mailto:anamika.shreevastava@jpl.nasa.gov"

    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Anamika255"

    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/anamika255/"

    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/Anamika255"

    - label: "Google Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?user=lRnptscAAAAJ&hl=en"

    - label: "Download CV"
      icon: "far fa-fw fa-file-pdf"
      url: "/assets/files/CV.pdf"


footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"

# Collections --> This is very important for Projects page
collections:
  projects:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/


defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
